In [47]:
import pandas as pd
import regex as re

In [9]:
names = ['travis',
         'timmy',
         'jackson',
         'alex',
         'artur',
         'davis',
         'oliviér',
         'iliyan',
         'toni']

In [10]:
df = pd.DataFrame(names, columns=['name'])
df['replace'] = df['name'].str.capitalize()
df

      name  replace
0   travis   Travis
1    timmy    Timmy
2  jackson  Jackson
3     alex     Alex
4    artur    Artur
5    davis    Davis
6  oliviér  Oliviér
7   illyan   Illyan
8     toni     Toni

In [43]:
# help me writing a function which opens the 'package.yml' file and writes strings, the first lines should be a var i set
# can you help me with that?

with open('package.yml', 'r', encoding='utf-8') as f:
    lines = f.readlines()

In [44]:
lines

['name: name fixer\n', 'parent: default\n', 'matches:']

In [45]:
for i in range(len(df)):
    trigger = df.at[i, 'name']
    var = False
    for t in lines:
        if trigger in t:
            var = False
        else:
            var = True
    if var == True:
        
        replace = df.at[i, 'replace']
        line = f"  - regex: {trigger}\n    replace: {replace}\n    word: true\n"
        lines.append(line)

In [46]:
with open('package.yml', 'w', encoding='utf-8') as f:
    for line in lines:
        f.write(line)