In [5]:
import itertools
import itertools
import pandas as pd
from tqdm import tqdm

In [54]:
def generate_permutations(word):
    """
    Generates all possible permutations of a given word, up to a maximum length of 4.
    """
    if len(word) > 4:
        return []
    else:
        permutations = [''.join(p) for p in itertools.permutations(word)]
    return permutations

def generate_permutations(word):
    """
    Generates all possible permutations of a given word, including variations with missing letters.
    """
    if len(word) <= 1:
        return [word]
    else:
        permutations = []
        for i in range(len(word)):
            sub_permutations = generate_permutations(word[:i] + word[i+1:])
            for p in sub_permutations:
                permutations.append(word[i] + p)
                permutations.append(p)
        return permutations
    



def generate_permutations(word):
    """
    Generates all possible permutations of a given word based on its length.
    """
    if len(word) <= 4:
        # Generate all possible permutations of the word
        permutations = [''.join(p) for p in itertools.permutations(word)]
    else:
        permutations = []
        # Generate all possible permutations of the word missing one character
        for i in range(len(word)):
            permutations.append(word[:i] + word[i + 1:])
    return permutations

In [55]:
df = pd.read_csv(filepath_or_buffer='dictionary.csv', delimiter=";", index_col=0)
df = df[(df.danish.str.len()>1)]
df = df[(df.english.str.len()>1)]
english = df[['english']].copy()
danish = df[['danish']].copy()

english.rename(columns={'english':'correct_spelling'}, inplace=True)
danish.rename(columns={'danish':'correct_spelling'}, inplace=True)

# english['misspellings'] = english.correct_spelling.str.len()
# danish['misspellings'] = danish.correct_spelling.str.len()

english['misspellings'] = ''
danish['misspellings'] = ''

In [56]:
danish.misspellings.describe()

count     996
unique      1
top
freq      996
Name: misspellings, dtype: object

In [57]:
for word in tqdm(english.correct_spelling, desc='This is the process for the english words'):
    dictionary = english.correct_spelling.to_list() + danish.correct_spelling.to_list() + english.misspellings.to_list() + danish.misspellings.to_list() 
    
    new = generate_permutations(word)

    tmp = []
    for each in new:
        if each in dictionary:
            pass
        else:
             tmp.append(each)

    new = tmp

    english.loc[english.correct_spelling == word, 'misspellings'] = str(new)

for word in tqdm(danish.correct_spelling, desc='This is the process for the danish words'):
    dictionary = english.correct_spelling.to_list() + danish.correct_spelling.to_list() + english.misspellings.to_list() + danish.misspellings.to_list() 
    
    new = generate_permutations(word)

    tmp = []
    for each in new:
        if each in dictionary:
            pass
        else:
             tmp.append(each)

    new = tmp

    danish.loc[danish.correct_spelling == word, 'misspellings'] = str(new)

This is the process for the english words: 100%|██████████| 996/996 [00:01<00:00, 893.94it/s]
This is the process for the danish words: 100%|██████████| 996/996 [00:00<00:00, 1149.88it/s]

In [58]:
english

     correct_spelling                                       misspellings
1                  as                                             ['sa']
3                 his                ['hsi', 'ihs', 'ish', 'shi', 'sih']
4                that  ['thta', 'taht', 'tath', 'ttha', 'ttah', 'htat...
5                  he                                             ['eh']
6                 was                       ['wsa', 'aws', 'asw', 'swa']
...               ...                                                ...
996              nose  ['noes', 'nsoe', 'nseo', 'neos', 'neso', 'onse...
997            plural  ['lural', 'pural', 'plral', 'plual', 'plurl', ...
998             anger           ['nger', 'ager', 'aner', 'angr', 'ange']
999             claim           ['laim', 'caim', 'clim', 'clam', 'clai']
1000        continent  ['ontinent', 'cntinent', 'cotinent', 'coninent...

[996 rows x 2 columns]

In [59]:
danish

     correct_spelling                                       misspellings
1                 som                ['smo', 'osm', 'oms', 'mso', 'mos']
3                hans  ['hasn', 'hnas', 'hnsa', 'hsan', 'hsna', 'ahns...
4                  at                                             ['ta']
5                 han                ['hna', 'ahn', 'anh', 'nha', 'nah']
6                 var                ['vra', 'avr', 'arv', 'rva', 'rav']
...               ...                                                ...
996              næse  ['næes', 'nsæe', 'nseæ', 'neæs', 'nesæ', 'ænse...
997           flertal  ['lertal', 'fertal', 'flrtal', 'fletal', 'fler...
998             vrede           ['rede', 'vede', 'vrde', 'vree', 'vred']
999          fordring  ['ordring', 'frdring', 'fodring', 'forring', '...
1000        kontinent  ['ontinent', 'kntinent', 'kotinent', 'koninent...

[996 rows x 2 columns]

In [61]:
danish.to_csv('top_1000.csv',sep=";")

In [52]:
danish

     correct_spelling                                       misspellings
1                 som                ['smo', 'osm', 'oms', 'mso', 'mos']
3                hans  ['hasn', 'hnas', 'hnsa', 'hsan', 'hsna', 'ahns...
4                  at                                             ['ta']
5                 han                ['hna', 'ahn', 'anh', 'nha', 'nah']
6                 var                ['vra', 'avr', 'arv', 'rva', 'rav']
...               ...                                                ...
996              næse  ['næes', 'nsæe', 'nseæ', 'neæs', 'nesæ', 'ænse...
997           flertal  ['flertla', 'fleratl', 'fleralt', 'flerlta', '...
998             vrede  ['vreed', 'vrdee', 'vrdee', 'vreed', 'verde', ...
999          fordring  ['ordring', 'frdring', 'fodring', 'forring', '...
1000        kontinent  ['ontinent', 'kntinent', 'kotinent', 'koninent...

[996 rows x 2 columns]